.navbar{
  background-color: #E74C3C;
  color: #FFFFFF;
}

h1, h2, h3, h4{
    font-style: oblique;
    color: #A93226;
}

mark{
  background: #eb6864;
  color:#FFFFFF ;
  font-style: italic;
}


.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #F5B7B1;
 }
